* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hero", sans-serif;
}

/* --------------------- header container flex layout -----------------------------*/

.header-container {
    background-color: #1f2937;
    border: 1px dashed purple;
}

.header {
    display: flex;
    justify-content: space-between; /* divide logo and links to right and left sides */
    align-items: center; /* align logo and links on one level vertically */
    margin: 20px 50px;
    
    border: 1px dashed purple;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 1px dashed purple;
}

.links {
    border: 1px dashed purple;
}

ul {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    list-style-type: none; /* this removes the dots on the list items */
    padding: 0; /* uls have some default margin/padding that you need to deal with */
    margin: 0;
    border: 1px dashed purple;
}

li {
    border: 1px dashed purple;
}

a {
    color: white;
    font-size: 18px;
    text-decoration: none; /* removes underline of links */
    padding: 0px;
}

/* ----------------------- sign-up container flex layout ----------------------------*/

.sign-up-container {
    background-color: #1f2937;
    border: 1px dashed purple;
}

.sign-up {
    display: flex;
    justify-content: center;
    margin: 20px 50px;
    border: 1px dashed purple;
}

.text-and-button {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex: 1;
    border: 1px dashed purple;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    color: white;
    border: 1px dashed purple;
}

.title {
    font-size: 48px;
    font-weight: 1000px;
    border: 1px dashed purple;
}

.sub-text {
    font-size: 18px;
    border: 1px dashed purple;
}

div .button-configuration {
    width: 120px;
    height: auto;
    padding: 8px;
    border-radius: 10px; /* rounder corners: also can do 50%; top-left, top-right, bottom-right, and bottom-left corners, respectively */
    font-size: 16px;
    border: 1px dashed purple;
}

.button-start {
    background-color: #3882f6;
    color: white;
}

.main-image {
    width: 700px;
    display: flex;
    justify-content: center;
    border: 1px dashed purple;
}

.change-main-img-size {
    width: 700px;
    height: auto;
}

/* ----------------------- content container flex layout ----------------------------*/

.content-container {
    text-align: center; /* note no flex layout applied here, the default block layout is kept, only the text-alignment is changed */
    background-color: white;
    order: 1px dashed purple;
} 

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 50px;
    border: 1px dashed purple;   
}

.information {
    padding: 20px;
    border: 1px dashed purple;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    border: 1px dashed purple;   
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border: 1px dashed purple;
}

.change-content-img-size {
    width: 200px;
    height: auto;
    border: 1px dashed purple;
}

.img-subtext { 
    width: 200px;
    font-size: 18px;
    border: 1px dashed purple;
}

/* --------------------- quote container flex layout -----------------------------*/

.quote-container {
    display: flex;
    justify-content: center;
    background-color: #e5e6eb;
    border: 1px dashed purple;
}

.quote {
    width: 920px;
    margin: 20px 50px;
    color: #1f2937;
    border: 1px dashed purple;
}

.sentence {
    font-size: 36px;
    font-style: italic;
    border: 1px dashed purple;
}

.author {
    text-align: end;
    font-weight: bold;
    border: 1px dashed purple;
}

/* --------------------- finish container flex layout -----------------------------*/

.finish-container {
    display: flex;
    justify-content: center;
    border: 1px dashed purple;
}

.finish {
    width: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
    border: 1px dashed purple;
}

.text-finish {
    flex: 3;
    border: 1px dashed purple;
}



.button-finish {
    flex: 0 0 auto;
}

/* --------------------- footer container flex layout -----------------------------*/

.footer-container {
    display: flex;
    justify-content: center;
    border: 1px dashed purple;
}

.footer {
    margin: 20px 50px;
    border: 1px dashed purple;
}